<p id="notice"><%= notice %></p>

<h1> Company : <%= @company.name %> </h1>
<h2> Employees </h2>
<ul>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Email</th>
      <th scope="col">Area</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
      <% @company.employees.each do |employee| %>
    <tr>
      <th scope="row">*</th>
      <td>  <%= employee.first_name %></td>
      <td><%= employee.last_name %></td>
      <td><%= employee.email %></td>
      <td><%= employee.area.name %></td>
      <td><%= link_to "x", company_employee_path(@company, employee),
  method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= form_with(model: [ @company, @employee ], local: true) do |form| %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :area_id %>
    <%= form.select :area_id, Area.pluck(:name, :id) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
